@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trelloo</h1>
    <p class="lead">Trelloo is task management site.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            you need to login to see the boards you have and edit it.
        </p>
        <p><a class="btn btn-default" href="/Home/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>New to trelloo.!!! Register here to start exploring</p>
        <p><a class="btn btn-default" href="/Home/Register">Register &raquo;</a></p>
    </div>
</div>